@charset "UTF-8";
* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    /* Lavander Aroma */
    --primary-color: #F4F2F3;
    --purple-light: #C0A9BD;
    --light-blue: #94A8AE;
    --blue-gray:#64766A;
}

html, body {
    height: 100%;
}

p {
    text-align: justify;
    text-indent: 3.125rem;
}

body {
    background-color: var(--primary-color);
}

figure.foto-legenda {
    border: .5rem solid white;
    box-shadow: 0.0625rem 0.0625rem 0.25rem black;
    
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}