* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    /* Lavander Aroma */
    --primary-color: #F4F2F3;
    --purple-light: #C0A9BD;
    --light-blue: #94A8AE;
    --blue-gray:#64766A;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--primary-color);
}